/* Colores */
$colorNaranjaFondo: #E09F3E;
$colorNaranjaTransparente: #e09f3e52;
$colorNegro: #191919;
$colorNegro60: #191919b2;
$colorBlanco: #FDFFFC;
$colorAzul: #4EA5D9;
$transparente: rgba(255, 255, 255, 0);
/* Fuente */
$fuente: 'Rubik', sans-serif;